In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

from datetime import date
import pandas as pd
import time

c_options = webdriver.ChromeOptions()
c_options.add_argument("--start-maximized")
c_driver = webdriver.Chrome(options=c_options)

c_driver.get('https://www.transfermarkt.com/')

In [8]:
years = list(range(2000, 2025))
# top_leagues = {
#     'Premier-League': 'GB1',
#     'LaLiga': 'ES1',
#     'Bundesliga': 'L1',
#     'Serie-A': 'IT1',
#     'Ligue-1': 'FR1'
# }

top_leagues = {
    'Bundesliga': 'L1'
}

In [9]:
teams_list = []
for k, v in top_leagues.items():
    for year in years:
        url = f'https://www.transfermarkt.com/{k.lower()}/startseite/wettbewerb/{v}/plus/?saison_id={year}'
        c_driver.get(url=url)
        time.sleep(3)
        teams_element = c_driver.find_elements(By.XPATH, '/html/body/div/main/div[1]/div[1]/div[2]/div[2]/div/table/tbody/tr')
        for team in teams_element:
            
            title_elements = team.find_elements(By.XPATH, './td[2]/a[position()>1]/img')
            titles = [title.get_attribute('alt') for title in title_elements]

            team_info = {
                'year': year,
                'league': k,
                'team': team.find_element(By.XPATH, './td[2]/a[1]').text,
                'squad_depth': team.find_element(By.XPATH, './td[3]/a').text,
                'avg_age': team.find_element(By.XPATH, './td[4]').text,
                'foreigners': team.find_element(By.XPATH, './td[5]').text,
                'avg_market_value': team.find_element(By.XPATH, './td[6]').text,
                'market_value': team.find_element(By.XPATH, './td[7]/a').text,
                'titles': titles
            }
            teams_list.append(team_info)

In [10]:
df = pd.DataFrame(teams_list)
df

,year,league,team,squad_depth,avg_age,foreigners,avg_market_value,market_value,titles
0,2000,Bundesliga,Borussia Dortmund,36,26.3,14,-,-,[]
1,2000,Bundesliga,Bayer 04 Leverkusen,34,25.3,19,-,-,[]
2,2000,Bundesliga,Bayern Munich,34,27.1,17,-,-,"[German Champion 99/00, German Cup winner 99/00]"
3,2000,Bundesliga,TSV 1860 Munich,38,26.9,15,-,-,[]
4,2000,Bundesliga,1.FC Kaiserslautern,34,27.5,17,-,-,[]
...,...,...,...,...,...,...,...,...,...
445,2024,Bundesliga,1.FSV Mainz 05,25,26.9,11,€3.74m,€93.45m,[]
446,2024,Bundesliga,1.FC Heidenheim 1846,29,26.7,5,€2.18m,€63.30m,[]
447,2024,Bundesliga,VfL Bochum,31,27.0,15,€1.96m,€60.75m,[]
448,2024,Bundesliga,FC St. Pauli,29,27.3,17,€1.40m,€40.73m,[German 2. Bundesliga Champion 23/24]
449,2024,Bundesliga,Holstein Kiel,28,26.0,10,€1.30m,€36.30m,[]

In [11]:
df.to_csv(f'../Leagues/2000_2024_Bundesliga.csv')